$font-helvetica: 		'Helvetica Neue', Helvetica, Arial, sans-serif;

$page-width:			980px;

$grey: 					rgb(168, 168, 168);
$light-grey:			rgb(221, 221, 214);
$black:					#393c3d;
$filters-color:			rgb(90, 90, 90);
$orange: 				rgb(240, 129, 43);
$blue:					rgb(0, 162, 190);
$dark-blue:				rgb(0, 133, 156);