<div id="loginModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Log In To Dodolidays</h3>
  </div>
  <div class="modal-body">loading...</div>
  <div class="modal-footer">
    <p class="comment">No account yet? <%= link_to "Sign up", register_path, :id => 'signuplink', 'data-target' => '#SignUpModal' %></p>
	<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
