<div id="search" class="wrapper">
	<input id="location" placeholder="Where to? ">
	<input id="checkin"  placeholder="From">
	<input id="checkout" placeholder="To">
	<input id="sleeps" placeholder="Sleeps number">
</div>