body {
	font-family: $font-helvetica;


	> header {
		width: $page-width;
		margin: 0 auto 20px auto;
		height: 45px;
		@include clearfix;
		
		#logo {
			float: left;
			display:block;
			margin: 10px 0 0 0;
		}
		
		ul {
			display: inline;
			margin: 0;
			float:right;
			li {
				float: left;
				display: block;
				height: 30px;
				margin: 7px 0 0 0;
				a {
					font-size: 12px;
					font-weight: bold;
					color: $black;
					line-height: 30px;
					padding: 10px 10px;
					&:hover {
						color: black;
						text-decoration:none;
					}
				}
				&.divider-vertical {
					height: 30px;
					width: 1px;
					margin: 5px 3px 5px 4px;
					overflow: hidden;
					border-right: 1px solid #fff;
					background-color: #ddd;
					background-image: -webkit-linear-gradient(top, #fff 0%, #ddd 30%, #ddd 70%, #fff 100%);
					background-image: -moz-linear-gradient(top, #fff 0%, #ddd 30%, #ddd 70%, #fff 100%);
					filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffdddddd', GradientType=0);
				}
			}
		}
		ul#primary {
			margin: 0 0 0 40px;
		}
	}
	
	#page {
		width: $page-width;
		margin: 0 auto;
		border: 1px solid $grey;
		border-width: 0 1px 1px 1px;
		//border-radius: 9px;
		
		@include clearfix;
	}
}