#upload {
	padding: 10px;
	background: $grey;
	height: 150px;
}

#images {
	margin: 20px;
	.image {
		margin: 20px 0;
		@include clearfix;
		div {
			float:left;
			&.desc {
				padding: 0 0 0 30px;
			}
			&.thumb {
				img {
					border: 1px solid #aaa;
					padding: 5px;
				}
			} 
		}
	}
}