<div>
	<ul>
		<li><%= link_to 'Edit', edit_item_path(@item), :class => 'btn btn-primary btn-large' %></li>
		<li><%= link_to 'Images', images_item_path, :class => 'btn btn-primary btn-large' %></li>
	</ul>
</div>