<div>
	<ul>
		<li id="bookit"><%= link_to 'Edit', edit_item_path(@item), :class => 'btn btn-primary btn-large' %></li>
	</ul>
	<ul id="metas">
		<li>30% SAVINGS</li>
		<li>3 Bedrooms</li>
		<li>6 Sleeps</li>
		<li><a href="#reviews">24 Reviews</a></li>
	</ul>
</div>