<div>
	<ul>
		<li><label>Email</label><input type="text"></li>
		<li><label>From</label><input type="text"></li>
		<li><label>To</label><input type="text"></li>
		<li><label>Message</label><textarea rows="10"></textarea></li>
		
		<li id="bookit"><button class="btn btn-primary btn-large">Envoyer</button></li>
		
	</ul>
</div>