<div>
	<ul>
		<li id="price"><span class="currency">$</span><%= @item.price %></li>
		<li id="original-price">Original Price: <s>$1400</s></li>
		<li id="bookit"><button class="btn btn-primary btn-large">Contact the Owner</button></li>
	</ul>
	<ul id="metas">
		<li>30% SAVINGS</li>
		<li>3 Bedrooms</li>
		<li>6 Sleeps</li>
		<li><a href="#reviews">24 Reviews</a></li>
	</ul>
</div>