<% FieldGroup.all.each do |field_group| %>
	<% unless field_group.fields.empty? %>
		<fieldset>
		  <legend><%= field_group.label %></legend>
		  <% field_group.fields.all.each do |field| %>
		    <div class="field">
		    	<%= label_tag :field_ids, field.label %>
		    	<div class="input">
		    		<%= check_box_tag :field_ids, field.id, @item.fields.include?(field), :name => 'item[field_ids][]' -%>
		    	</div>
		    </div>
		  <% end %>
		</fieldset>
	<% end %>
<% end %>