<nav class="nav-primary">
	<h2>Narrow your search</h2>
	<h3>Price per week</h3>
	<ul>
		<li class=""><input type="checkbox"><a href="#">500 € - 1000 €</a><span class="counter">24</span></li>
		<li class=""><input type="checkbox"><a href="#">1000 € - 1500 €</a><span class="counter">263</span></li>
		<li class=""><input type="checkbox"><a href="#">1500 € - 2000 €</a><span class="counter">209</span></li>
		<li class=""><input type="checkbox"><a href="#">2000 € - 2500 €</a><span class="counter">110</span></li>
		<li class=""><input type="checkbox"><a href="#">2500 € - 3000 €</a><span class="counter">112</span></li>
		<li class=""><input type="checkbox"><a href="#">3000 € - 4000 €</a><span class="counter">46</span></li>
		<li class=""><input type="checkbox"><a href="#">4000+ €</a><span class="counter">3</span></li>
		
	</ul>
	<h3>Location</h3>
	<ul>
		<li class="selected"><input type="checkbox"><a href="#">Costa Blanca</a></li>
	</ul>
	<h3>Period</h3>
	<ul>
		<li class="selected"><input type="checkbox"><a href="#">from 12 sept 2012</a></li>
		<li class="selected"><input type="checkbox"><a href="#">to 19 sept 2012</a></li>
	</ul>
	<h3>Location</h3>
	<ul>
		<li class="selected"><input type="checkbox"><a href="#">Alicanta area</a></li>
	</ul>
	<h3>Sleeps</h3>
	<ul>
		<li class="selected"><input type="checkbox"><a href="#">6</a></li>
	</ul>
	<h3>Labels</h3>
	<ul>
		<li class="selected"><input type="checkbox"><a href="#">Piscine</a></li>
		<li class=""><input type="checkbox"><a href="#">Easy access</a></li>
		<li class=""><input type="checkbox"><a href="#">Children</a></li>
		<li class=""><input type="checkbox"><a href="#">Culture</a></li>
		<li class=""><input type="checkbox"><a href="#">Golf</a></li>
		<li class=""><input type="checkbox"><a href="#">Beach</a></li>
		<li class=""><input type="checkbox"><a href="#">Ski</a></li>
		<li class=""><input type="checkbox"><a href="#">Diving</a></li>
		<li class=""><input type="checkbox"><a href="#">Children</a></li>
	</ul>
</nav>