<nav class="nav-primary">
	<h3>Location</h3>
	<ul>
		<li class="selected"><a href="#">Costa Blanca</a></li>
	</ul>
	<h3>Period</h3>
	<ul>
		<li class="selected"><a href="#">from 12 sept 2012</a></li>
		<li class="selected"><a href="#">to 19 sept 2012</a></li>
	</ul>
	<h3>Location</h3>
	<ul>
		<li class="selected"><a href="#">Alicanta area</a></li>
	</ul>
	<h3>Sleeps</h3>
	<ul>
		<li class="selected"><a href="#">6</a></li>
	</ul>
	<h3>Labels</h3>
	<ul>
		<li class="selected"><a href="#">Piscine</a></li>
		<li class=""><a href="#">Easy access</a></li>
		<li class=""><a href="#">Children</a></li>
		<li class=""><a href="#">Culture</a></li>
		<li class=""><a href="#">Golf</a></li>
		<li class=""><a href="#">Beach</a></li>
		<li class=""><a href="#">Ski</a></li>
		<li class=""><a href="#">Diving</a></li>
		<li class=""><a href="#">Children</a></li>
	</ul>
</nav>