<% if item.images.size >= 2 %>
	<div class="img-separator" id="galleria">
		<% @item.images.each do |image| %>
	 		<%= link_to image_tag(image.file_url, :alt => image.name, :title => image.name),  image.file_url %>
		<% end %>
	</div>
	<script>
		Galleria.loadTheme('/assets/galleria/themes/classic/galleria.classic.min.js');
		Galleria.configure({
			clicknext:true,
			showInfo: true,
			_toggleInfo: false,
			preload:1,
			touch:true,
			transition:Galleria.TOUCH?"slide":"fade",
			transitionSpeed:Galleria.TOUCH?500:300
			});
		Galleria.ready(function(options) {
			$('.galleria-info-title').remove();
			$('.galleria-image-nav').remove();
		});
		Galleria.run('#galleria');
		$('.galleria-info-title').hide();
		
	</script>
<% end %>

<% unless item.quote.empty? %>
	<blockquote>
		<p>"<br><%= @item.quote %></p>
	</blockquote>
<% end %>

 