<div id="interactive">
	<img src="http://maps.googleapis.com/maps/api/staticmap?center=<%=u item.address %>&zoom=13&sensor=false&size=690x450">
</div>
<div id="static1">
	<img src="http://maps.googleapis.com/maps/api/staticmap?center=<%=u item.address %>&zoom=6&sensor=false&size=250x190">
</div>
<div id="static2">
	<img src="http://maps.googleapis.com/maps/api/staticmap?center=<%=u item.address %>&zoom=8&sensor=false&size=250x150">
</div>
<div id="address">
	<p><%= item.address %></p>
</div>