<div id="search">
	<div>
		<input type="text" id="location">
		<input type="text" id="checkin">
		<input type="text" id="checkout">
		<select  id="sleeps"></select>
	</div>
</div>
<div id="page">
	<div id="content">
		<%= render 'filters' %>
		<div id="results">
			<ul>
				<% @items.each do |item| %>
					<li>
						<%= link_to( render(:partial => 'item', :locals => { :item => item }), item ) %>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
</div>