<%= render :partial => 'shared/search' %>
<div id="places">
	<%= render 'filters' %>
	<section id="results">
		<ul>
			<li class="place">
				<div>
					<img src="/assets/temp/Unknown-1.jpg">
					<aside>
						Voici une description
					</aside>
				</div>
			</li>
			<li class="place">
				<div>
					<img src="/assets/temp/Unknown-2.jpg">
					<aside>
						Voici une description
					</aside>
				</div>
			</li>
			<li class="place">
				<div>
					<img src="/assets/temp/Unknown-3.jpg">
					<aside>
						Voici une description
					</aside>
				</div>
			</li>
			<li class="place">
				<div>
					<img src="/assets/temp/Unknown-4.jpg">
					<aside>
						Voici une description
					</aside>
				</div>
			</li>
			<li class="place">
				<div>
					<img src="/assets/temp/Unknown-5.jpg">
					<aside>
						Voici une description
					</aside>
				</div>
			</li>
			<li class="place">
				<div>
					<img src="/assets/temp/Unknown-6.jpg">
					<aside>
						Voici une description
					</aside>
				</div>
			</li>
			<li class="place">
				<div>
					<img src="/assets/temp/Unknown-7.jpg">
					<aside>
						Voici une description
					</aside>
				</div>
			</li>
			<li class="place">
				<div>
					<img src="/assets/temp/Unknown-1.jpg">
					<aside>
						Voici une description
					</aside>
				</div>
			</li>
			<li class="place">
				<div>
					<img src="/assets/temp/Unknown-2.jpg">
					<aside>
						Voici une description
					</aside>
				</div>
			</li>
			<li class="place">
				<div>
					<img src="/assets/temp/Unknown-3.jpg">
					<aside>
						Voici une description
					</aside>
				</div>
			</li>
			<li class="place">
				<div>
					<img src="/assets/temp/Unknown-4.jpg">
					<aside>
						Voici une description
					</aside>
				</div>
			</li>
			<li class="place">
				<div>
					<img src="/assets/temp/Unknown-5.jpg">
					<aside>
						Voici une description
					</aside>
				</div>
			</li>
			<li class="place">
				<div>
					<img src="/assets/temp/Unknown-6.jpg">
					<aside>
						Voici une description
					</aside>
				</div>
			</li>
			<li class="place">
				<div>
					<img src="/assets/temp/Unknown-7.jpg">
					<aside>
						Voici une description
					</aside>
				</div>
			</li>
			<li class="place">
				<div>
					<img src="/assets/temp/Unknown-1.jpg">
					<aside>
						Voici une description
					</aside>
				</div>
			</li>
			<li class="place">
				<div>
					<img src="/assets/temp/Unknown-2.jpg">
					<aside>
						Voici une description
					</aside>
				</div>
			</li>
			<li class="place">
				<div>
					<img src="/assets/temp/Unknown-3.jpg">
					<aside>
						Voici une description
					</aside>
				</div>
			</li>
			<li class="place">
				<div>
					<img src="/assets/temp/Unknown-4.jpg">
					<aside>
						Voici une description
					</aside>
				</div>
			</li>
			<li class="place">
				<div>
					<img src="/assets/temp/Unknown-5.jpg">
					<aside>
						Voici une description
					</aside>
				</div>
			</li>
			<li class="place">
				<div>
					<img src="/assets/temp/Unknown-6.jpg">
					<aside>
						Voici une description
					</aside>
				</div>
			</li>
			<li class="place">
				<div>
					<img src="/assets/temp/Unknown-7.jpg">
					<aside>
						Voici une description
					</aside>
				</div>
			</li>
			<li class="place">
				<div>
					<img src="/assets/temp/Unknown-1.jpg">
					<aside>
						Voici une description
					</aside>
				</div>
			</li>
			<li class="place">
				<div>
					<img src="/assets/temp/Unknown-2.jpg">
					<aside>
						Voici une description
					</aside>
				</div>
			</li>
			<li class="place">
				<div>
					<img src="/assets/temp/Unknown-3.jpg">
					<aside>
						Voici une description
					</aside>
				</div>
			</li>
			<li class="place">
				<div>
					<img src="/assets/temp/Unknown-4.jpg">
					<aside>
						Voici une description
					</aside>
				</div>
			</li>
			<li class="place">
				<div>
					<img src="/assets/temp/Unknown-5.jpg">
					<aside>
						Voici une description
					</aside>
				</div>
			</li>
			<li class="place">
				<div>
					<img src="/assets/temp/Unknown-6.jpg">
					<aside>
						Voici une description
					</aside>
				</div>
			</li>
			<li class="place">
				<div>
					<img src="/assets/temp/Unknown-7.jpg">
					<aside>
						Voici une description
					</aside>
				</div>
			</li>	
		<% @items.each do |item| %>
			
			<li class="place">
				<%= link_to( render(:partial => 'item', :locals => { :item => item }), item ) %>
			</li>
		<% end %>
		
		</ul>
		<%= paginate @items %>
	</section>
</div>