<%= render 'filters' %>
<ul id="results">
	<% @items.each do |item| %>
		<li>			
			<%= link_to( render(:partial => 'item', :locals => { :item => item }), item ) %>
		</li>  
	<% end %>
</ul>

<%= link_to 'New Item', new_item_path %>
