<div id="search">
	<div>
		<input type="text" id="location" class="location" placeholder="Where to? Paris, Barcelona, Florence...">
		<div id="range-container">
			<input type="text" id="range" placeholder="When? from - to">
			<div id="datepicker-calendar">
				<%= link_to 'Ok', '#', :class => 'btn btn-small btn-primary'%>
			</div>
		</div>
		<select  id="sleeps"><option>Howmany sleeps?</select>
	</div>
</div>
<div id="page">
	<div id="content">
		<%= render 'filters' %>
		<div id="results">
			<ul>
				<% @items.each do |item| %>
					<li>
						<%= link_to( render(:partial => 'item', :locals => { :item => item }), item ) %>
					</li>
				<% end %>
				<%= paginate @items %>
			</ul>
		</div>
	</div>
</div>