$font-helvetica: 		'Helvetica Neue', Helvetica, Arial, sans-serif;
$galleria-background:	rgb(47, 47, 47);

$orange: 				rgb(240, 129, 43);
$almost-black:			rgb(38, 38, 38);
$soft-grey:				rgb(128, 130, 133);